<div class="post-comments-block">
    <div class="comments-buttons">
        <button class="btn btn-link" #like (click) = 'likePost(like)' >{{commentsData.likes}} <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        
        <button class="btn btn-link" (click)="showComments()">{{comments.length}} <fa-icon [icon]="faComment"></fa-icon></button>
        <button class="btn btn-link" (click) = "showForm()" ><fa-icon [icon]="faPaperPlane"></fa-icon></button>
    </div>
    
    <app-add-commnet-form [hidden] = 'showCommentForm' (addComment) = 'getNewComment($event)' ></app-add-commnet-form>
    
        <app-comment [hidden] = "commentsHide" *ngFor="let comment of comments" [comment] = 'comment'></app-comment>
    
    
</div>
