.post-comments-block{
    padding:0;
}
.post-comments-block .comments-buttons{
    display: flex;
    justify-content:flex-start;
    
}
.post-comments-block .comments{
    padding: 10px 0;
}
.btn{
    margin-left: 5px;
    padding: 5px;
    text-decoration: none;
}